ci:
  skip: [ty]

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.21
    hooks:
      - id: uv-sync
        args: ["--all-packages"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
        exclude: "^typings/"
      - id: ruff-format
  #  Install the configuration into the git hook through pre-commit:
  #  `pre-commit install --hook-type commit-msg`
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.11.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [pre-push]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [src]
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest
        name: pytest
        language: system
        entry: uv run pytest
        stages: ["manual"]
